/* CSS styling for recipe berry app */

body {
    color: #333;
    font-family: 'Lora' ,serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 2;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.7;
}

a:link {
    color: #005a87;
    text-decoration: none;
  }

.logo {
    font-family: 'Sofia', cursive;
    /* font-family: 'Lora' ,serif; */
    font-size: 70px;
}

/* .cropped {
    width: 150px; /* width of container */
    /* height: 150px; height of container */
    /* overflow: hidden;
    border: 5px solid black;
} */ */

/* .cropped img {
    margin: -10px 0px 0px -180px;
} */

  /* font-family: 'Lora', serif;
  font-family: 'Sofia', cursive; */


/* 
.email {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.password {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 0px;
} */





.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }