/* CSS styling for recipe berry app */

body {
    color: #333;
    background-color: #fff;
    font-family: 'Lora' ,serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.7;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    overflow-x: hidden;
}

a:link {
    color: #005a87;
    text-decoration: none;
  }

.logo {
     color: #2763BB;
    font-family: 'Sofia', cursive;
    font-size: 70px;
}

#logo-main {
    opacity: 0.90;
  }