/* CSS styling for recipe berry app */

body {
    color: #333;
    font-family: lora,serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 2;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.7;
}

a:link {
    color: #005a87;
    text-decoration: none;
  }