{% extends 'base.html' %}

{% block title %}Create Recipe{% endblock %}

{% block head_script %}
  <script src="/static/js/create-recipe.js" defer></script>
{% endblock %}

{% block body %}
  <h1>Create New Recipe</h1>

  <form action="/create_recipe" method="POST">
    <p>
      Title <input type="text" name="title" placeholder="Ex: Very Berry Cake">
    </p>

    <p>
      Description <input type="text" name="description">
    </p>

    <p>
      Prep Time (minutes) <input type="number" name="prep_time" min="1" max="300">
    </p>

    <p>
      Cook Time (minutes) <input type="number" name="cook_time" min="1" max="300">
    </p>

    <p>
      Total Time (minutes) <input type="number" name="total_time" min="1" max="300">
    </p>

    <p>
      Serving Quantity <input type="number" name="serving_qty" min="1" max="100">
    </p>

    <p>
      Source <input type="text" name="source">
    </p>

    <p>
      Cuisine
      <select name="cuisine_id" required>
        {% for cuisine in cuisines %}
          <option value="{{ cuisine.cuisine_id }}">{{ cuisine.cuisine_name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      Category
      <select name="category_id" required>
        {% for category in categories %}
          <option value="{{ category.category_id }}">{{ category.category_name }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      Ingredients:
      <ul style="list-style-type:none;">
        <li>
          <label>Ingredient Name</label>
          <input type="text" list="ingredients" name="ingredients"/>
          <datalist id="ingredients">
          {% for ingredient in ingredients %}
            <option>{{ ingredient.ingredient_name }}</option>
          {% endfor %}
          </datalist>
          <label>Measurement Amount</label>
          <input type="text" name="measurements">
          <button type="button" id="add-ingredient">Add</button>
          <button type="button" id="remove-ingredient">Remove</button>
          <div id="ingredient-input-list"></div>
          <input type="hidden" value="1" id="num-ingredient">
        </li>
      </ul>
    </p>

    <p>
      Instructions:
      <ol>
        <div id="instruction-input-list">
          <button type="button" id="add-instruction">Add</button>
          <button type="button" id="remove-instruction">Remove</button>
            <li>
              <input type="text" name="instructions">
            </li>
        </div>
        <input type="hidden" value="1" id="num-instruction">
      </ol>
    </p>

    <p>
      Images:
      <ul style="list-style-type:none;">
        <li>
          <label for="url">Enter an https:// URL:</label>
          <input type="url" name="images"
                placeholder="https://example.com"
                pattern="https://.*" size="30"
                required>
          <button type="button" id="add-image">Add</button>
          <button type="button" id="remove-image">Remove</button>
          <div id="image-input-list"></div>
          <input type="hidden" value="1" id="num-image">
        </li>
      </ul>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}