{% extends 'base.html' %}
{% block title %}Recipe Berry Home{% endblock %}

{% block body %}
  <h1>Welcome to Recipe Berry!</h1>
  <h3>
      Your virtual cookbook organizer to store, manage, and share all your favorite recipes. 
      <br>
      Find inspiration for your next meal with your new recipe friend, Recipe Berry.
  </h3>
  <br>

  <h3>Search - Recipe Titles</h3>
  <form action="/search" method="GET">
    <p>
      Search <input type="text" name="search_string" placeholder="Search for recipes">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}