{% extends 'base.html' %}
{% block title %}Recipe Berry Home{% endblock %}

{% block body %}
  <h1>Welcome to Recipe Berry!</h1>
  <h3>
      Your virtual cookbook organizer to store, manage, and share all your favorite recipes. 
      <br>
      Find inspiration for your next meal with your new recipe friend, Recipe Berry.
  </h3>


  <h3>Navigation</h3>
  <ul>
    <li><a href="/recipes">View all recipes</a></li>
    <!-- <li><a href="/users">View all users</a></li> -->
    <li><a href="/cuisines">View all cuisines</a></li>
    <li><a href="/profile">View details for a particular user</a></li>
    <li><a href="/registration">Create a new account</a></li>
    <li><a href="/authenticate">Login</a></li>
  </ul>

  <!-- <h3>Login</h3>
  <form action="/authenticate" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->
{% endblock %}