{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block head_script %}
<!-- <script src="/static/js/delete-recipe.js" defer></script> -->
<script src="/static/js/favorite-recipe.js" defer></script>
{% endblock %}

{% block body %}

<div class="text-start mt-5" style="margin-left:50px;margin-right:50px;">

  <h1 class="mb-3">{{ recipe.title }}</h1>

  <ul style="list-style-type:none;">
    {% for image in recipe.images %}
    <li>
      <img src="{{ image.image_url }}" alt="image" width="200">
    </li>
    {% endfor %}
  </ul>

  <br>

  <h3>About:</h3>
  <ul>
    <li>Author: {{ recipe.user.first_name }} {{ recipe.user.last_name[0] }}.</li>
    <li>Description: {{ recipe.description }}</li>
    <li>Prep Time: {{ recipe.prep_time }} minutes</li>
    <li>Cook Time: {{ recipe.cook_time }} minutes</li>
    <li>Total Time: {{ recipe.total_time }} minutes</li>
    <li>Serving Quantity: {{ recipe.serving_qty }}</li>
    <li>Source: {{ recipe.source }}</li>
    <li>Cuisine: {{ recipe.cuisine.cuisine_name }}</li>
    <!-- Category: {% for category in recipe.categories %}{{ category.category_name }} {% endfor %} -->
    <li>Category: {{ recipe.categories|join(', ', attribute='category_name') }}</li>
  </ul>

  <br>

  <h3>Ingredients:</h3>
  <ul>
    {% for recipe_ingredient in recipe.recipe_ingredients %}
    <li>
      {{ recipe_ingredient.measurement }} {{ recipe_ingredient.ingredient.ingredient_name }}
    </li>
    {% endfor %}
  </ul>

  <br>

  <h3>Instructions:</h3>
  <ul style="list-style-type:none;">
    {% for recipe_step in recipe.recipe_steps %}
    <li>
      {{ recipe_step.step_num }}. {{ recipe_step.instruction }}
    </li>
    {% endfor %}
  </ul>

  <br>

  <!-- View Average Rating -->
  <h5> Average Rating: {{ average_rating | round(2, 'common') }}</h5>

  <br>

  <!-- Rating Feature -->
  <!-- If user logged in -->
  <!-- If user does not have a rating for recipe, show rate recipe button -->
  <!-- If user does have a rating for recipe, show user's rating for recipe -->

  {% if session.get('user_id') %}
  {% if user_rating %}
  <h5>Your rating for this recipe: {{ user_rating.rating_value }}</h5>
  {% else %}
  <h5>
    <form action="/recipes/rating/{{ recipe.recipe_id }}" method="POST">
      Rate This Recipe:
      <select name="rating_value">
        {% for num in range(1,6) %}
        <option value="{{ num }}">{{ num }}</option>
        {% endfor %}
      </select>
      <button type="submit" id="rate-recipe" class="btn btn-primary" style="background-color: #005a87;">Submit
        Rating</button>
    </form>
  </h5>
  {% endif %}
  {% endif %}

  <br>

  <!-- Favorite a recipe feature -->
  {% if session.get('user_id') %}
  {% if is_favorite %}
  <p>
    <button type="button" id="favorite-recipe" class="btn btn-success" style="display: none;">Add Recipe to
      favorites</button>
    <button type="button" id="unfavorite-recipe" class="btn btn-danger">Remove Recipe from Favorites</button>
    <input type="hidden" value="{{ recipe.user.user_id }}" id="user-id">
    <input type="hidden" value="{{ recipe.recipe_id }}" id="recipe-id">
  </p>

  {% else %}
  <p>
    <button type="button" id="favorite-recipe" class="btn btn-success">Add Recipe to Favorites</button>
    <button type="button" id="unfavorite-recipe" class="btn btn-danger" style="display: none;">Remove Recipe from
      Favorites</button>
    <input type="hidden" value="{{ recipe.user.user_id }}" id="user-id">
    <input type="hidden" value="{{ recipe.recipe_id }}" id="recipe-id">
  </p>
  {% endif %}
  {% endif %}

  <p>
    <!-- <button type="button" id="update-recipe">Update Recipe</button> -->

    <!-- Delete (Archive) Recipe Feature -->
    {% if recipe.user_id == session.get('user_id') %}
  <form action="/recipes/{{ recipe.recipe_id }}" method="POST">
    <!-- <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}" id="recipe-id"> -->
    <button type="submit" id="delete-recipe" class="btn btn-danger">Delete Recipe</button>
  </form>
  {% endif %}
  </p>

</div>

{% endblock %}