{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block head_script %}
  <!-- <script src="/static/js/delete-recipe.js" defer></script> -->
{% endblock %}

{% block body %}
  <h1>{{ recipe.title }}</h1>

  <ul style="list-style-type:none;">
    {% for image in recipe.images %}
      <li>
          <img src="{{ image.image_url }}" alt="image" width="200" height="200">
      </li>
    {% endfor %}
  </ul>

  <p>
    Author: {{ recipe.user.first_name}} {{ recipe.user.last_name}}<br>
    Description: {{ recipe.description }}<br>
    Prep Time: {{ recipe.prep_time }} minutes<br>
    Cook Time: {{ recipe.cook_time }} minutes<br>
    Total Time: {{ recipe.total_time }} minutes<br>
    Serving Quantity: {{ recipe.serving_qty }}<br>
    Source: {{ recipe.source }}<br>
    Cuisine: {{ recipe.cuisine.cuisine_name }}<br>
    <!-- Category: {% for category in recipe.categories %}{{ category.category_name }} {% endfor %} -->
    Category: {{ recipe.categories|join(', ', attribute='category_name') }}
  </p>

  <h3>Ingredients:</h3>
  <ul>
    {% for recipe_ingredient in recipe.recipe_ingredients %}
      <li>
          {{ recipe_ingredient.measurement }} {{ recipe_ingredient.ingredient.ingredient_name }}
      </li>
    {% endfor %}
  </ul>

  <h3>Instructions:</h3>
  <ul style="list-style-type:none;">
    {% for recipe_step in recipe.recipe_steps %}
      <li>
          {{ recipe_step.step_num }}. {{ recipe_step.instruction }} 
      </li>
    {% endfor %}
  </ul>

  <!-- View Average Rating -->
  <P>
    Average Rating: {{ average_rating | int }}
  </P>

  <!-- Rating Feature -->
  <!-- If user logged in -->
    <!-- If user does not have a rating for recipe, show rate recipe button -->
    <!-- If user does have a rating for recipe, show user's rating for recipe -->

  {% if session.get('user_id') %}
    {% if user_rating %}
    <p>
      Your rating for this recipe: {{ user_rating.rating_value }}
    </p>
    {% else %}
    <p>
      <form action="/recipes/rating/{{ recipe.recipe_id }}" method="POST">
        Rate this Recipe:
        <select name="rating_value">
          {% for num in range(1,6) %}
          <option value="{{ num }}">{{ num }}</option>
          {% endfor %}
        </select>
        <button type="submit" id="rate-recipe">Rate this recipe</button>
      </form>
    </p>
    {% endif %}
  {% endif %}


  <p>
    <!-- <button type="button" id="favorite-recipe">Add to favorites</button> -->
    <!-- <button type="button" id="update-recipe">Update Recipe</button> -->

    <!-- Delete (Archive) Recipe Feature -->
    {% if recipe.user_id == session['user_id'] %}
    <form action="/recipes/{{ recipe.recipe_id }}" method="POST">
      <!-- <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}" id="recipe-id"> -->
      <button type="submit" id="delete-recipe">Delete Recipe</button>
    </form>
    {% endif %}
  </p>

{% endblock %}