{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block body %}
  <h1>{{ recipe.title }}</h1>

  <ul style="list-style-type:none;">
    {% for image in recipe.images %}
      <li>
          <img src="{{ image.image_url }}" alt="image" width="200" height="200">
      </li>
    {% endfor %}
  </ul>

  <p>
    Author: {{ recipe.user.first_name}} {{ recipe.user.last_name}}<br>
    Description: {{ recipe.description }}<br>
    Prep Time: {{ recipe.prep_time }} minutes<br>
    Cook Time: {{ recipe.cook_time }} minutes<br>
    Total Time: {{ recipe.total_time }} minutes<br>
    Serving Quantity: {{ recipe.serving_qty }}<br>
    Source: {{ recipe.source }}<br>
    Cuisine: {{ recipe.cuisine.cuisine_name }}<br>
    <!-- Category: {% for category in recipe.categories %}{{ category.category_name }} {% endfor %} -->
    Category: {{ recipe.categories|join(', ', attribute='category_name') }}
  </p>

  <h3>Ingredients:</h3>
  <ul>
    {% for recipe_ingredient in recipe.recipe_ingredients %}
      <li>
          {{ recipe_ingredient.measurement }} {{ recipe_ingredient.ingredient.ingredient_name }}
      </li>
    {% endfor %}
  </ul>

  <h3>Instructions:</h3>
  <ul>
    {% for recipe_step in recipe.recipe_steps %}
      <li>
          {{ recipe_step.step_num }}: {{ recipe_step.instruction }} 
      </li>
    {% endfor %}
  </ul>

  <!-- TODO -->
  <!-- Allow user to add more than one category -->
  <!-- Allow user to add ingredients -->
  <!-- Allow user to add images -->
{% endblock %}