{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<div class="text-center mt-3" style="margin-left:50px;margin-right:50px;">

  <h1 class="h3 mt-5 mb-3 font-weight-normal">{{ user.first_name }} {{ user.last_name }}'s Favorite Recipes:</h1>

  <p>
  {% if user.favorites | length == 0 %}
    You currently do not have any favorite recipes.
  {% else %}
  <div class="d-flex justify-content-center">
    <div class="container-fluid">
      <div class="row g-4">
        {% for favorite in user.favorites %}
        <div class="col-3">
          <div class="card">
            <a href="/recipes/{{ favorite.recipe.recipe_id }}"><img src="{{ favorite.recipe.images[0].image_url }}"
                class="card-img-top" alt="image" width="200">
            </a>
            <div class="card-body">
              <p class="card-text text-center">
                <a href="/recipes/{{ favorite.recipe.recipe_id }}">
                  {{ favorite.recipe.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  </p>

</div>

{% endblock %}