{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}

<div class="text-center mt-3" style="margin-left:50px;margin-right:50px;">

  <h1 class="h3 mt-5 mb-3 font-weight-normal">{{ user.first_name }} {{ user.last_name }}'s Recipes</h1>

  <p>
    {% with recipes = user.recipes %}
    {% include "display_recipes_template.html" %}
    {% endwith %}
    <br>
    <a href='/create_recipe'><button class="btn btn-success">Create a New Recipe</button></a>
  </p>

</div>

{% endblock %}